/*
 * Palpix mixins
 */
 
// Media query mixins
@mixin px-mq ($media-string: false) {
	@if $global-old-ie == false {
		@if $media-string != false {
			@media only screen and #{$media-string} {
				@content;
			}
		}
	}
}

@mixin px-mq-size ($max: false, $min: 'max') {
	$media-string: '';
	@if $max != false {
		@if $min == 'min' {
			$media-string: '(min-width: #{$max}px)';
		}
		@else if $min == 'max' {
			$media-string: '(max-width: #{$max}px)';
		}
		@else {
			$media-string: '(min-width: #{$min}px) and (max-width: #{$max}px)';
		}
		@include px-mq ($media-string) {
			@content;
		}
	}
}

@mixin px-device ($device, $only: false) {
	$media-string: false;
	@if $device == mobile {
		$media-string: '(max-width: #{$size-s - 1}px)';
	}
	@else if $device == tablet {
		@if $only == true {
			$media-string: '(min-width: #{$size-s}px) and (max-width: #{$size-m - 1}px)';
		}
		@else {
			$media-string: '(max-width: #{$size-m - 1}px)';
		}
	}
	@else if $device == desktop {
		@if $only == true {
			$media-string: '(min-width: #{$size-l}px)';
		}
		@else {
			@content;
		}
	}
	@else {
		$media-string: $device;
	}
	@include px-mq ($media-string) {
		@content;
	}
}

@mixin px-screen-size ($size, $opts: false) {
	$media-string: false;
	$min: 0;
	$next: false;
	$stop: false;
	@each $breakpoint in $breakpoints {
		@if $size == nth($breakpoint, 1) {
			@if $opts == only {
				$media-string: '(min-width: #{$min}px) and (max-width: #{nth($breakpoint, 2) - 1}px)';
			}
			@else if $opts == min {
				$media-string: '(min-width: #{$min}px)';
			}
			@else {
				$media-string: '(max-width: #{nth($breakpoint, 2) - 1}px)';
			}
		}
		@else {
			$min: nth($breakpoint, 2);
		}
	}
	@include px-mq ($media-string) {
		@content;
	}
}

@mixin px-prefix ($prop, $value) {
	$prefixes: webkit moz ms o;
	@each $prefix in $prefixes {
		-#{$prefix}-#{$prop}: $value;
	}
	#{$prop}: $value;
}

// Font face helper
// Attention /!\ nom des fichiers = nom de la font
@mixin px-font-face ($font-family, $name, $weight: normal, $style: normal) {
	$file-path: $path-font + $name;
	@font-face {
    	font-family: $font-family;
    	font-weight: $weight;
    	font-style: $style;
    	@if $global-old-ie == true {
    		src: url('#{$file-path}.eot');
    	}
    	@else {
    		src: url('#{$file-path}.woff') format('woff'),
					url('#{$file-path}.ttf') format('truetype'),
					url('#{$file-path}.svg##{$font-family}') format('svg');
    	}
    }
}

// Input text placeholder style
@mixin px-placeholder {
	&::-webkit-input-placeholder { @content; }
	&:-ms-input-placeholder { @content; }
	&:-moz-placeholder { @content; }
}

// Content selection
@mixin px-selection {
	::-moz-selection {
		@content
	}
	::selection {
		@content
	}
}

// Font size rem + fallback
@mixin px-font-size ($size: 1) {
	font-size: $size * $typo-size-base;
	//font-size: $size + rem;
}

// Image Replacement
// http://nicolasgallagher.com/another-css-image-replacement-technique/
@mixin px-ir {
	font: 0/0 a;
	text-shadow: none;
	color: transparent;
}

// Clearfix (micro version)
// http://nicolasgallagher.com/micro-clearfix-hack/
@mixin px-clearfix {
	&:after {
		content: " ";
		display: table;
		clear: both;
	}
	.lte-ie7 & {
	    zoom: 1;
	}
}

// Inline-block + legacy IE fallback
@mixin px-inline-block ($vertical-align: middle) {
	display: inline-block;
	vertical-align: $vertical-align;
	.lte-ie7 & {
		zoom: 1;
		display: inline;
		vertical-align: auto;
	}
}

@mixin px-node ($marge: $space) {
	margin-bottom: 0;
	& + * {
		margin-top: $marge;
	}
}

@mixin px-img-fluid {
	display: block;
	width: auto;
	max-width: 100%;
	height: auto;
}

// Multi position easy, inspired by Bourbon Sass mixins library
// support padding-like syntax
// cf : https://github.com/thoughtbot/bourbon/blob/master/app/assets/stylesheets/addons/_position.scss
@mixin px-position ($coordinates: none, $position: none) {
	
	// Mapping coordinates
  $top: -1;
  $right: -1;
  $bottom: -1;
  $left: -1;
  
  @if (length($coordinates) == 4) {
	  $top: nth($coordinates, 1);
	  $right: nth($coordinates, 2);
	  $bottom: nth($coordinates, 3);
	  $left: nth($coordinates, 4);
  }
  
  @if (length($coordinates) == 3) {
	  $top: nth($coordinates, 1);
	  $right: nth($coordinates, 2);
	  $bottom: nth($coordinates, 3);
	  $left: $right;
  }
  
  @if (length($coordinates) == 2) {
	  $top: nth($coordinates, 1);
	  $right: nth($coordinates, 2);
	  $bottom: $top;
	  $left: $right;
  }
  
  @if (length($coordinates) == 1) {
	  $top: nth($coordinates, 1);
	  $right: $top;
	  $bottom: $top;
	  $left: $top;
  }
  
  // Write CSS  
  @if $position != none {
    position: $position;
  }
  @if ($top and $top == auto) or (type-of($top) == number and $top != -1) {
    top: $top;
  }
  @if ($right and $right == auto) or (type-of($right) == number and $right != -1) {
    right: $right;
  }
  @if ($bottom and $bottom == auto) or (type-of($bottom) == number and $bottom != -1) {
    bottom: $bottom;
  }
  @if ($left and $left == auto) or (type-of($left) == number and not $left != -1) {
    left: $left;
  }
}


// SASS mixins for future proof resolution media query
// @author 14islands.com
@mixin px-if-resolution($prefix, $dppx) {
	$dpi: $dppx * 96;
	@media
		(-webkit-#{$prefix}-device-pixel-ratio: #{$dppx}),
		(   #{$prefix}--moz-device-pixel-ratio: #{$dppx}),
		(     -o-#{$prefix}-device-pixel-ratio: #{$dppx*2}/2),
		(        #{$prefix}-device-pixel-ratio: #{$dppx}),
		(                #{$prefix}-resolution: #{$dpi}dpi),
		(                #{$prefix}-resolution: #{$dppx}dppx) {
			@content;
	}
}
@mixin px-if-min-res($dppx) {
	@include px-if-resolution(min, $dppx) {
		@content;
	}
}

@mixin px-if-max-res($dppx) {
	@include px-if-resolution(max, $dppx) {
		@content;
	}
}

// Retinafy background image
@mixin px-retinafy ($file-name, $bg-width, $bg-height, $bg-color: transparent, $file-extension: 'png') {
	$imagePath: $path-img + $file-name;
	//$ext: '.' + $cache-query + '.' + $file-extension;
	//$ext: '.' + $file-extension + '?' + $cache-query;
	$ext: '.' + $file-extension;
	background-color: $bg-color;
	@if $global-old-ie == false {
		@include px-if-min-res(1.50) {
			background-image: url($imagePath + '-2x' + $ext);
			background-size: $bg-width $bg-height;
		}
		@include px-if-max-res(1.49) {
			background-image: url($imagePath + $ext);
		}
	}
	@else {
		background-image: url($imagePath + $ext);
	}
}

// Font smoothing
@mixin px-font-smoothing ($active: true) {
	@if $active == true {
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
	@else {
		-webkit-font-smoothing: none;
		-moz-osx-font-smoothing: auto;
	}
}

@mixin px-table ($valign: middle) {
	display: table;
	width: 100%;
	> * {
		display: table-cell;
		vertical-align: $valign;
	}
}

@mixin px-ico {
	@include px-inline-block;
	font: 0/0 a;
}

@mixin px-ico-placeholder ($width: 22px, $height: 22px) {
	@include px-inline-block;
	width: $width;
	height: $height;
	background: url($path-img + 'transparent-pattern.png');
	background-size: 4px;
}

@mixin px-sticky {
	position: -webkit-sticky;
	position: -moz-sticky;
	position: -ms-sticky;
	position: -o-sticky;
	position: sticky;
}