$cacheQuery: '1';
$devMode: true;

// Directories
$pathImg: '../img/';
$pathFont: '../font/';

// Main colors
$color1: #BADA55;

// Font stacks
$font1: arial, sans-serif;
$font2: georgia, times, serif;
$dinot: dinotregular, helvetica, arial, sans-serif;
$dinotbold: dinotbold, helvetica, arial, sans-serif;

%dinot {
	font-family: $dinot;
}
%dinotbold {
	font-family: $dinotbold;
	font-weight: normal;
}

// Responsive Breakpoints
$sizeMobile : 500;
$sizeMoblet : 675;
$sizeTablet : 1000;

// Grille
$gWidth: 1120px;
$gNb: 12;
$gCol: 75px;
$gGut: 20px;

// Sprite
$spriteWidth: 250px;
$spriteHeight: 250px;