$cacheQuery: '1';
$devMode: true;

// Directories
$pathImg: '../img/';
$pathFont: '../font/';

// Main colors
$rose: #ff006c;
$vert: #cad820;

// Custom fonts
$font1: 'amerits';

// Font stacks
$baton: arial, sans-serif;
$serif: georgia, times, serif;
$amerits: $font1, times;

// Responsive Breakpoints
$sizeMobile : 500;
$sizeMoblet : 675;
$sizeTablet : 1000;

// Grille
$gWidth: 1120px;
$gNb: 12;
$gCol: 75px;
$gGut: 20px;

// Sprite
$spriteWidth: 250px;
$spriteHeight: 250px;