@include px-screen-size (s) {
	#admin-menu {
		display: none;
	}
	body.admin-menu {
		margin-top: 0 !important;
	}
}

.element-invisible {
	display: none;
}

.tabs {
	overflow: hidden;
	list-style: none;
	@include px-font-size(1.4);
	@include px-screen-size (s) {
		display: none;
	}
	> li {
		float: left;
		border: 1px solid #ccc;
		background-color: #F5F5F5;
		&:hover {
			background-color: #fff;
		}
		&.active {
			background-color: #fff;
			a {
				color: $color-base;
			}
		}
		+ li {
			margin-left: -1px;
		}
		> a {
			display: block;
			line-height: 1;
			padding: 7px 10px;
		}
	}
}

.primary {
	> li {
		&:first-child {
			border-radius: 3px 0 0 0;
		}
		&:last-child {
			border-radius: 0 3px 0 0;
		}
	}
}
.secondary {
	margin-top: -$space - 1px;
	> li {
		&:first-child {
			border-radius: 0 0 0 3px;
		}
		&:last-child {
			border-radius: 0 0 3px 0;
		}
	}
}