/*
    ColorBox Core Style:
    The following CSS is consistent between example themes and should not be altered.
*/
#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:99999; overflow:hidden;}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative;}
#cboxLoadedContent{overflow:auto;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%; height:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}
.cboxPhoto{float:left; margin:auto; border:0; display:block; max-width:none;}
.cboxIframe{width:100%; height:100%; display:block; border:0;}
#colorbox, #cboxContent, #cboxLoadedContent{box-sizing:content-box;}

/* 
    User Style:
    Change the following styles to modify the appearance of ColorBox.  They are
    ordered & tabbed in a way that represents the nesting of the generated HTML.
*/
#cboxOverlay{background:#fff;}
#colorbox {
    @include box-shadow(0 0 10px rgba(#000,.5));
    //border: 1px solid #c2c4c9;
}
    /* #cboxTopLeft{width:25px; height:25px; background:url($path-img + 'colorbox/border1.png') no-repeat 0 0;} */
    /* #cboxTopCenter{height:25px; background:url($path-img + 'colorbox/border1.png') repeat-x 0 -50px;} */
    /* #cboxTopRight{width:25px; height:25px; background:url($path-img + 'colorbox/border1.png') no-repeat -25px 0;} */
    /* #cboxBottomLeft{width:25px; height:25px; background:url($path-img + 'colorbox/border1.png') no-repeat 0 -25px;} */
    /* #cboxBottomCenter{height:25px; background:url($path-img + 'colorbox/border1.png') repeat-x 0 -75px;} */
    /* #cboxBottomRight{width:25px; height:25px; background:url($path-img + 'colorbox/border1.png') no-repeat -25px -25px;} */
    /* #cboxMiddleLeft{width:25px; background:url($path-img + 'colorbox/border2.png') repeat-y 0 0;} */
    /* #cboxMiddleRight{width:25px; background:url($path-img + 'colorbox/border2.png') repeat-y -25px 0;} */
    #cboxContent{
        background:#fff;
        overflow:hidden;
        font: inherit; // override drupal admin styles
    }
        .cboxIframe{background:#fff;}
        #cboxError{padding:50px; border:1px solid #ccc;}
        #cboxLoadedContent{padding:40px;}
        #cboxTitle{position:absolute; bottom:0px; left:0; text-align:center; width:100%; color:#999;}
        #cboxCurrent{position:absolute; bottom:0px; width:100%; text-align: center; color:#999;}
        #cboxSlideshow{position:absolute; bottom:0px; right:42px; color:#444;}
        //#cboxPrevious{@extend .ico-slideshow-photo-left; position:absolute; top:50%; left:20px; margin-top: -18px;}
        //#cboxNext{@extend .ico-slideshow-photo-right; position:absolute; top:50%; right:20px; margin-top: -18px;}
        #cboxLoadingOverlay{background:#fff url($path-img + 'loading.gif') no-repeat center;}
        #cboxClose{ 
        	@include px-ico-placeholder;
        	position:absolute;
        	top:10px;
        	right:10px;
        }

/*
  The following fixes a problem where IE7 and IE8 replace a PNG's alpha transparency with a black fill
  when an alpha filter (opacity change) is set on the element or ancestor element.  This style is not applied to or needed in IE9.
  See: http://jacklmoore.com/notes/ie-transparency-problems/
*/
.cboxIE #cboxTopLeft,
.cboxIE #cboxTopCenter,
.cboxIE #cboxTopRight,
.cboxIE #cboxBottomLeft,
.cboxIE #cboxBottomCenter,
.cboxIE #cboxBottomRight,
.cboxIE #cboxMiddleLeft,
.cboxIE #cboxMiddleRight {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF);
}