/* line 4, ../scss/masters/socle.scss */
.px-example {
  margin: 40px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
}
/* line 8, ../scss/masters/socle.scss */
.px-example > * {
  padding: 15px;
}
/* line 10, ../scss/masters/socle.scss */
.px-example > * + * {
  border-top: 1px solid #ddd;
}

/* line 15, ../scss/masters/socle.scss */
.px-example_title {
  font-size: 2.4rem;
  font-weight: bold;
}

/* line 19, ../scss/masters/socle.scss */
.px-example_code {
  display: none;
  background-color: #eee;
}
