@mixin hover {
	&:hover,
	&:focus {
		@content;
	}
}
@mixin disabled {
	&.btn--disabled,
	&[disabled] {
		@content;
	}
}

// Base de tous les boutons
.btn {	
	@include box-sizing(border-box);
	@include px-inline-block;
	margin: 0;
	padding: 10px 12px;
	text-align: center;
	border: 0;
	@include border-radius(3px);
	@include px-font-smoothing;
	font-family: $font-base;
	@include px-font-size($typo-size-body);
	line-height: $typo-line-height-base;
	cursor: pointer;
	color: $color-base;
	border: 1px solid $color-base;
	background: none;
	background-color: #fff;
	@include transition(background-color .1s ease-in);
	&:active {
		position: relative;
		top: 1px;
	}
	@include hover {
		color: $color-base;
		background-color: #F5F5F5;
	}
	@include disabled {
		background-color: #fff;
	}
}

// Sizes
.btn--s {
	@include px-font-size(.8 * $typo-size-body);
}
.btn--l {
	@include px-font-size(1.4 * $typo-size-body);
}
.btn--xl {
	@include px-font-size(2 * $typo-size-body);
}

// Mode block
.btn--block {
	display: block;
}

// Themes
.btn--primary {
	font-weight: bold;
	color: #fff;
	border-color: transparent;
	background-color: $primary-color;
	@include hover {
		color: #fff;
		background-color: darken($primary-color, 5%);
	}
	@include disabled {
		background-color: $primary-color;
	}
}
.btn--secondary {
	font-weight: bold;
	color: $color-base;
	border-color: transparent;
	background-color: $secondary-color;
	@include hover {
		color: $color-base;
		background-color: darken($secondary-color, 5%);
	}
	@include disabled {
		background-color: $secondary-color;
	}
}

// Disabled
.btn--disabled {
	cursor: default;
	opacity: .5;
	&:active {
		top: 0;
	}
}