// base styles for text fields
@mixin input-base {
	@include box-sizing(border-box);
	width: 100%;
	max-width: 400px;
	height: 35px;
	padding: 5px 10px;
	@include px-font-size(1.6);
	font-family: $font-base;
	border: 1px solid $color-grey;
	color: $color-base;
	background-color: #fff;
	@include border-radius(2px);
	@include px-placeholder {
		color: #999;
		@include px-font-smoothing;
	}
	&:focus {
		border-color: $link-color;
		@include px-placeholder {
			color: #ddd;
		}
	}
	.lte-ie7 & {
		width: auto;
	}
}

fieldset {
	margin: 0;
	padding: 0;
	border: 0;
}

button,
input,
select,
textarea {
	margin: 0;
	vertical-align: middle;
	font-family: $font-noserif;	
}

// Addresses FF3/4 setting line-height on 'input' using !important in the UA stylesheet
button,
input {
	line-height: normal;
}

// 1. Improves usability and consistency of cursor style between image-type 'input' and others
// 2. Corrects inability to style clickable 'input' types in iOS
// 3. Removes inner spacing in IE7 without affecting normal text inputs
// Known issue: inner spacing remains in IE6
button,
[type="button"],
[type="reset"],
[type="submit"] {
	cursor: pointer; // 1
	-webkit-appearance: button; // 2
	.lte-ie7 & {
		overflow: visible;  // 3
	}
}

// 1. Addresses box sizing set to content-box in IE8/9
// 2. Removes excess padding in IE8/9
// Known issue: excess padding remains in IE6
[type="checkbox"],
[type="radio"] {
	box-sizing: border-box; // 1
	padding: 0; // 2
}

// 1. Reset appearance set to searchfield in S5, Chrome
[type="search"] {
	-webkit-appearance: none; // 1
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}

// Removes inner padding and search cancel button in S5, Chrome on OS X
[type="search"]::-webkit-search-decoration,
[type="search"]::-webkit-search-cancel-button {
	-webkit-appearance: none;
}

//Removes inner padding and border in FF3+
// www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/
button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

// base
select,
[type="checkbox"],
[type="radio"] {
	vertical-align: 1px;
	cursor: pointer;
}
[type="text"],
[type="password"],
[type="search"],
[type="email"],
[type="url"],
[type="tel"] {
	@include input-base;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	.lte-ie7 & {	
		height: 14px;
	}
}
textarea {
	@include input-base;
	@include px-inline-block;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	overflow: auto;
	line-height: $typo-line-height-base;
	padding: 10px;
	height: auto;
	background: #fff;
}
label {
	font-weight: bold;
	cursor: pointer;
	&.has-placeholder {
		display: none;
		.lte-ie8 & {
			display: block;
		}
	}
}
select {
	@include input-base;
}
[type="button"],
button {
	cursor: pointer;
	&[disbaled] {
		cursor: default;
	}
}
.description {
	color: $color-grey-dark;
}
