// Text alignement + Typo
.tl { text-align: left; }
.tc { text-align: center; }
.tr { text-align: right; }
.serif { font-family: $font-serif; }
.noserif { font-family: $font-noserif; }

// Float + CLear
.fl { float: left; }
.fr { float: right; }
.cb { clear: both; }

// Toggle show/hide
.hide {
	display: none !important;
}
.show {
	display: block !important;
}
.visuallyhidden {
	clip: rect(0 0 0 0);
	position: absolute;
	overflow: hidden;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
}
.no-touch .touch--required,
.touch .touch--exclude,
.no-js .js--required,
.js .js--exclude {
	@extend .hide;
}

// Fake link
.a {
	cursor: pointer;
}

// Image fluide
.img-fluid {
	@include px-img-fluid;
}

// Spacer
.node {
	@include px-node;
}