$icons-compile: false;

$icons-list:
	search;

@if $icons-compile == true {
	@if $icons-list != false {
		@each $icon in $icons-list {
			.ico_#{$icon} {
				@include px-ico;
				@include retina-sprite(#{$icon});
				background-color: transparent;
			}
		}
	}
}
@else {
	[class^="ico"] {
		@include px-ico;
		@include px-ico-placeholder;
	}
}
.label-ico {
	@include px-inline-block(middle);
	+ [class^="ico"] ,
	[class^="ico"] + & {
		margin-left: 5px;
	}
}