$nb-cols: 12;
$col-gutter: 30px;
$col-edge: $col-gutter/2;

// Container
.trunk {
	max-width: $size-base+px;
	margin: auto;
	padding-left: $col-edge;
	padding-right: $col-edge;
}

// Grid system
.grid {
	margin-left: -$col-edge;
	margin-right: -$col-edge;
}
.grid_row {
	@include px-node;
	display: table;	
	table-layout: fixed;
	width: 100%;
	.grid--float & {
		display: block;
		width: auto;
		@include px-clearfix;
	}
	@include px-screen-size (s) {
		display: block;
	}
}
[class^="grid_col"] {
	display: table-cell;
	vertical-align: top;
	min-height: 10px;
	padding-left: $col-edge;
	padding-right: $col-edge;
	.grid--sep & + [class^="grid_col"] {
		border-left: 1px solid $color-grey;
	}
	.grid--float & {
		@include box-sizing(border-box);
		display: block;
		float: left;
	}
	@include px-screen-size (s) {
		display: block;
		width: auto !important;
		+ [class^="grid_col"] {
			margin-top: $col-edge;
			padding-top: $col-edge;
		}
		.grid--sep & + [class^="grid_col"] {
			border-left: 0;
			border-top: 1px solid $color-grey;
		}
		.grid--float & {
			float: none;
		}
	}
}

@for $i from 1 through $nb-cols {
	.grid_col-#{$i}-#{$nb-cols} {
		width: #{$size-base/$nb-cols*$i*100/$size-base + '%'};
	}
}
@for $i from 1 through $nb-cols {
	.grid_push-#{$i}-#{$nb-cols} {
		margin-left: #{$size-base/$nb-cols*$i*100/$size-base + '%'};
	}
}