// 1. Corrects text resizing oddly in IE6/7 when body font-size is set using em units
// http://clagnut.com/blog/348/#c790
// 2. Prevents iOS text size adjust after orientation change, without disabling user zoom
// www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/
html  {
	font-size: $typo-size-base; /* 1 */
	-webkit-text-size-adjust: 100%; /* 2 */
	-ms-text-size-adjust: 100%; /* 2 */
	-webkit-tap-highlight-color: transparent;
}

// Declare RWD main breakpoints for JS detection
// PX.test('rwd')
html:before {
	display: none;
	content: 'desktop';
	@include px-device(tablet, true) {
		content: 'tablet';
	}
	@include px-device(mobile) {
		content: 'mobile';
	}
}
html:after {
	display: none;
	content: 'm';
	@each $breakpoint in $breakpoints {
		$name: nth($breakpoint, 1);
		@if $name != 'm' {
			$opts: only;
			@if $name == 'xl' {
				$opts: min;
			}
			@include px-screen-size ($name, $opts) {
				content: '#{$name}';
			}
		}
	}
}

body {
	margin: 0;
	@include px-font-size($typo-size-body);
	line-height: $typo-line-height-base;
	font-family: $font-base;
	color: $color-base;
	background-color: #fff;
	@include px-font-smoothing;
}

// Links
a, a:hover {
	text-decoration: none;
	color: $link-color;
}

/*
:focus {
	outline: 0;
}
:active {
	outline: 0;
}
*/

// Heading
$headings: h1, h2, h3, h4, h5;
@each $tag in $headings {
	#{$tag} {
		font-size: 100%;
		font-weight: normal;
		margin-top: 0;
		margin-bottom: 0;
	}
}

@each $element in ul, ol {
	#{$element} {
		@if $element == ul {
    	list-style-type: square;
    }
		@else if $element == ol {
    	list-style-type: decimal;
    }
		list-style-position: inside;
		@include px-node;
		.lte-ie7 & {
			margin-left: 0;
		}
	}
}

p {
	margin-top: 0;
	@include px-node;
}

dl {
	margin: 0;
}

img {
	border: 0; /* 1 */
	-ms-interpolation-mode: bicubic; /* 2 */
}

blockquote {
	margin: 0;
}

pre {
	margin: 0;
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word;
	font-family: monospace, serif;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sup { top: -0.5em; }
sub { bottom: -0.25em; }

svg:not(:root){
	overflow: hidden;
}

// Remove most spacing between table cells
table {
	width: 100%;
	table-layout: fixed;
	border-collapse: collapse;
	border-spacing: 0;
}
tbody { // Override Drupal
	border-top: 0;
}