@mixin demo-cell ($size, $cols) {
	$value: $size*100/$cols;
	.cell-#{$size}-#{$cols} {
		width: unquote($value + '%');
	}
}

#templates {
	position: fixed;
	z-index: 99999;
	bottom: 5px;
	right: 5px;
	margin-bottom: 0;
	@include px-font-size(1.2);
	background-color: hsla(0,0,100,.75);
	.index & {
		position: static;
		@include px-font-size(1.8);
		max-width: 300px;
		padding: 10px;
		margin: 0 auto;
	}
	.lte-ie8 & {
		background-color: #fff;
	}
	dt {
		padding: 5px 10px;
		font-weight: bold;
		text-transform: uppercase;
		cursor: pointer;
		border: 1px solid $color-base;
	}
	dd {
		display: none;
		position: absolute;
		right: 0;
		bottom: 100%;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		min-width: 125px;
		margin: -1px 0 0;
		border: 1px solid $color-base;
		.index & {
			position: static;
			display: block;
		}
		+ dt {
			margin-top: $space;
		}
	}
	&:hover dd {
		display: block;
		background-color: #fff;
	}
	ul {
		list-style: none;
		padding-left: 0;
		margin-bottom: 0;
	}
	li + li {
		border-top: 1px solid $color-base;
	}
	a, label {
		display: block;
		padding: 7px 10px;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		&:hover {
			background-color: #fff;
		}
	}
	li.current a {
		font-weight: bold;
	}
}

#log {
	position: fixed;
	opacity: .5;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 999;
	overflow: auto;
	max-height: 200px;
	padding: 10px;
	font-size: 12px;
	background-color: #fff;
	border-top: 1px solid #666;
	@include transition(opacity .2s ease-in);
	&:hover {
		opacity: 1;
	}
}

.demo-wrapper {
	+ .demo-wrapper {
		margin-top: 3*$space;
		padding-top: 2*$space;
		border-top: 2px dashed lighten($color-base, 75%);
	}
}
/*
.demo_inner {
	@extend .trunk;
}
*/
.demo__title {
	display: block;
	margin-bottom: $space;
	font-family: $font-noserif;
	font-weight: bold;
	text-shadow: 0 1px 0 #fff;
	color: $color-base;
	@include px-font-size(1.8);
}
.demo__render,
.demo__code {
	position: relative;
	padding: 35px 15px;
	border: 1px solid #ddd;
	@include px-screen-size (s) {
		padding-left: 0;
		padding-right: 0;
		padding-bottom: 0;
		border: 0;
	}
	hr {
		margin: $space 0;
		border: 0;
		border-bottom: 1px dashed #ccc;
	}
	&:before {
		content: 'Example';
		position: absolute;
		top: 0;
		left: 0;
		padding: 3px 5px;
		font-size: 11px;
		font-weight: bold;
		color: #fff;
		background: #999;
	}
}
.demo__code {
	display: none;
	border-top: 0;
	color: #666;
	background: #f5f5f5;
	transition: opacity .2s ease-in;
	code {
		display: block;
		overflow: auto;
		max-height: 600px;
		font: normal 14px/1.5 "Nitti Basic", monospace;
		text-shadow: 0 1px 0 hsla(0,0,100,.75);
		white-space: pre;
		-moz-tab-size: 2;
		tab-size: 2;
	}
	&:before {
		content: 'Code';
	}
}
.demo-anchor:target {
	+ .demo .demo__code {
		display: block;
	}
}
.demo__desc {
	margin-bottom: $space;
}
.demo-grid {
	display: table;
	table-layout: fixed;
	width: 100%;
	@include px-node;
}
.demo-grid__cell {
	display: table-cell;
	vertical-align: top;
	@include px-screen-size (s) {
		display: block;
		width: auto !important;
		+ .demo-grid__cell {
			margin-top: $space;
			padding-top: $space;
			border-top: 1px dotted $color-base;
		}
	}
}

.demo-icons .ico_wrapper {
	@include px-inline-block;
	padding: 15px;
	line-height: 0;
	border: 15px solid #fff;
	background-color: #f5f5f5;
	&[class*="white"] {
		background-color: #999;
	}
}

@include demo-cell(1, 2);
@include demo-cell(1, 3);
@include demo-cell(2, 3);
@include demo-cell(1, 4);
@include demo-cell(3, 4);
@include demo-cell(1, 5);
@include demo-cell(2, 5);
@include demo-cell(3, 5);
@include demo-cell(4, 5);
@include demo-cell(1, 6);