$title-font: $font-noserif;

// Titles
%hx {
	display: block;
	@include px-node;
	font-family: $title-font;
	font-weight: bold;
}
.h1 {
	@extend %hx;
	line-height: 1;
	letter-spacing: -1px;
	@include px-font-size(3.6);
	@include px-screen-size (xs) {
		letter-spacing: 0;
		@include px-font-size(2.6);
	}
}
.h2 {
	@extend %hx;
	line-height: 1.1;
	@include px-font-size(2.4);
	@include px-screen-size (xs) {
		@include px-font-size(2.2);
	}
}
.h3 {
	@extend %hx;
	@include px-font-size(1.8);
}
.h4 {
	@extend %hx;
	@include px-font-size(1.6);
}