/*
// Override base
$typo-size-body: 1.8;
$typo-line-height-base: 1.3;

// Fonts
$font-proxima: "proxima", "Trebuchet MS", sans-serif;
$font-itc: "itc", helvetica, arial, sans-serif;
$font-base: $font-proxima;
*/

// Colors
$color-blue: #0c7cb0;

$color-grey: #e6e6e6;
$color-grey-dark: #999;
$color-grey-light: #fafafa;

// Components colors
$primary-color: #ce4608;
$secondary-color: #ffc701;
$link-color: $color-blue;