// Compass
@import 'compass';

.px-example {
	margin: 40px 0;
	border: 1px solid #ddd;
	border-radius: 5px;
	> * {
		padding: 15px;
		+ * {
			border-top: 1px solid #ddd;
		}
	}
}
.px-example_title {
	font-size: 2.4rem;
	font-weight: bold;
}
.px-example_code {
	display: none;
	background-color: #eee;
}